.countdown-timer {
  border: 1px solid white;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  font-size: medium;

  p {
    padding: 0px;
    margin: 0px;
  }

  p + p {
    padding-top: 8px;
  }
}

@media (max-width: 768px) {
  /* CSS in here for mobile only */
  .countdown-timer {
    font-size: small;
  }
}
