.countdown-timer {
  padding: .5em;
  font-size: .75em;
  color: #999;

  p {
    padding: 0px;
    margin: 0px;
  }

  p + p {
    padding-top: 8px;
  }
}

// @media (max-width: 768px) {
//   /* CSS in here for mobile only */
//   .countdown-timer {
//     font-size: small;
//   }
// }
