body {
  background-color: #282c34;
  color: white;
}

.app {
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  margin: auto;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: calc(8px + 2vmin);

  .app-title-image {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  strong {
    font-weight: 400;
    background-color: black;
  }

  ol {
    list-style-type: decimal-leading-zero;

    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .app-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    p {
      margin: 0px;
      padding: 8px;
    }
  }

  .rsvp-button {
    &a:link {
      text-decoration: none;
    }
    &a:visited {
      text-decoration: none;
    }
    &a:hover {
      text-decoration: none;
    }
    &a:active {
      text-decoration: none;
    }

    background-color: white;
    color: rgb(30, 30, 30);
    padding: 16px;

    &:hover {
      background-color: rgb(248, 207, 4);
      color: rgb(0, 0, 0);
    }
  }

  .app-footer {
    font-size: medium;
    margin-top: 48px;
  }

  a {
    color: #afcaff;
  }

  a:hover {
    background-color: white;
    color: black;
  }

  h3 {
    margin-top: 32px;
    margin-bottom: 8px;
  }
}
